body {
  margin: 8px
}

h1 {
  font-size: 2em;
  color: #677973;
  font-family: 'Oswald', sans-serif;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0.67em;
  text-align: center;

}

h1.home-title {
  color: #677973;
}

h2 {
  font-size: 1.5em;
  color: #665E70;
  font-family: 'Oswald', sans-serif;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  text-align: center;

}

h3 {
  font-size: 1.17em;
  color: #677973;
  font-family: 'Oswald', sans-serif;
  -webkit-margin-before: 1__qem;
  -webkit-margin-after: 1em;
  text-align: center;

}

p {
  font-family: 'PT Sans', sans-serif;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

a {
  font-family: 'PT Sans', sans-serif;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  color: #677973;
}

nav li{
  display: inline-block;
  width: 15%;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 14pt;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after:  0.5em;
  -webkit-padding-before: 0.5em;
  -webkit-padding-after: 0.5em;
}

.current {
  font-weight: bolder;
  font-style: italic;
  color: #F0DCC7;
}

img{
  width: 20vw;
}

img.project{
  width: 20%;
}

img.home{
  width: 60vw;
}

#photo-bar {
  display:flex;
  width: 100vw;
  height: 25vh;
  background: blue;
}

.skills-container {
  max-width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
}

.skill {
  display: grid;
  height: 33vw;
  width: 33vw; 
  margin: 1vw;
  color: #304859;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skill.one {
  background-color: #AFC0C6;
}

.skill.two {
  background-color: #F0DCC7;
}

.skill.three {
  background-color: #A39CAB;
}

.skill.four {
  background-color: #AFC0C6;
}

.skill.five {
  background-color: #F0DCC7;
}

.skill.six {
  background-color: #A39CAB;
}

.photo {
  width: 45vw;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.nav-container {
  display: grid;
  height: 22vh;
  grid-template-columns: 1fr;
  background-color: #304859;
  opacity: 50;
}

.nav-logo {
  grid-column-start: 1;
  text-align: center;
}

.nav-item {
  text-align: center;
}

.home-background {
  background-color: white;
}


footer {
  text-align: center;
}

.fab{
  color: #304859;
}

.fas{
  color: #304859;
}


.gallery{
  width: 85%;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
}

.gallery img{
  width: 100%;
}

.gallery2 {
  width: 95%;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.gallery2 img{
  width: 100%;
}

.gallery3 {
  width: 95%;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.gallery3 img{
  width: 100%;
}




@media screen and (min-width: 600px) {

  nav a {
    color: #677973;
    background-color: white;
  }
  a.home {
  color: #304859;
  }

  nav a.home {
  color: #304859;
  }

  .nav-container {
  height: 7vh;
  background-color: white;
  opacity: 50;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  }

  .current {
    color: #304859;
  }

  .photo {
    width: 30vw;
  }
  img.project{
    width: 40%;
  }

  .profile {
    width: 40%;
  }

  .nav-logo {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .skills-container {
  max-width: 87vw;
  grid-template-columns: 1fr 1fr 1fr;
  }

  .skill {
  height: 27vw;
  width: 27vw; 
  margin: 1vw;
  }

  .skill.four {
  background-color: #A39CAB;
  }

  .skill.five {
  background-color: #AFC0C6;
  }

  .skill.six {
  background-color: #F0DCC7;
  }





@media screen and (min-width: 800px) {

    .photo {
      width: 25vw;
    }

    .profile {
    width: 40%;
    }

    .skills-container {
    max-width: 96vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .skill {
    height: 14vw;
    width: 14vw; 
    margin: 1vw;
    }

    .skill.four {
    background-color: #AFC0C6;
    }

    .skill.five {
    background-color: #F0DCC7;
    }

    .skill.six {
    background-color: #A39CAB;
    }
  }
